@charset "UTF-8";

.GoLeft{
  width: 70%;
  float: left;
}

#topic1{
  width: 50%;
  background-color: limegreen;
  float: left;
}

#topic2{
  width: 50%;
  background-color: paleturquoise;
  float: left;
}

section p span{
  color: red;
}

aside{
  float: right;
}
